#screen{
    white-space: pre;
}

h1 {
    font-family: 'Audiowide', cursive;
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    white-space: pre;
}

h2 {
    font-family: 'Audiowide', cursive;
    font-size: medium;
    color: #ffffff;
    margin: 25px;
    display: inline;
}

header {
    margin-top: 50px;
}

footer {
    font-family: 'Audiowide', cursive;
    text-align: center;
    color: #808080;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    padding-left: 5px;
}

.container-fluid {
    margin-top: 70px;
}

#play-again {
    font-family: 'Sigmar One', cursive;
    margin: 30px auto;
    color: #ffffff;
    background-color: green;
    display: block;
    text-align: center;
}

#game-info {
    position: fixed;
    margin-left: 5px;
    display: block;
    width: 100%;
    bottom: 50px;
    line-height: 10px;
    height: 125px;
}

#total-wins {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

#remaining {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

#guessed-title {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    /* padding-bottom: 8px; */
}
#guessed {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    margin-left: 25px;
    /* padding-top: 20px; */
}

body {
    background-image: url(../images/star-wars-background-full-hd-459613.jpg);
    background-color: #000000;
    background-size: 100%;
    background-repeat: no-repeat;
}

#current {
    font-size: x-large;
    visibility: visible;
    vertical-align: auto;
}

#game-container {
    display:block;
    clear: both;
}

li {
    color: #ffffff;
}

#buttons {
    margin-top: 50 px;
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
    max-width: 30%;
}

.letters {
    text-align: center;
    padding: 3px 5px 3px 5px;
    margin: 3px;
    font-size: large;
    display: inline-block;
    max-width: 75px;
    min-width: 20px;
}

.hidden {
    visibility: hidden;
    display: none;
}

.visible {
    visibility: visible;
    display: block;
}

#letter-buttons {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
    /* max-width: 50%; */
}

@media screen and (max-width: 980px) {

    #buttons {
        max-width: 75%;
    }

    #game-info {
        bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    #buttons {
        max-width: 56%;
    }

    #game-info {
        bottom: 50px;
    }
}

@media screen and (max-width: 640px) {

    #game-info {
        bottom: 50px;
    }

    #buttons {
        max-width: 80%;
    }
}