h1 {
    font-family: 'Audiowide', cursive;
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
}

h2 {
    font-family: 'Cute Font', cursive;
    font-size: large;
    color: #ffffff;
    margin: 25px;
    display: inline;
}

header {
    margin-top: 50px;
}

.container-fluid {
    margin-top: 70px;
}

#play-again {
    font-family: 'Sigmar One', cursive;
    margin: 30px auto;
    color: #ffffff;
    background-color: green;
    display: block;
    text-align: center;
}

body {
    background-image: url(../images/star-wars-background-full-hd-459613.jpg);
    background-color: #000000;
    background-size: 100%;
    background-repeat: no-repeat;
}

#current {
    font-size: x-large;
    visibility: visible;
    display: block;
}

li {
    color: #ffffff;
}

#buttons {
    margin-top: 50 px;
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
}

.letters {
    text-align: center;
    padding: 3px 5px 3px 5px;
    margin: 3px;
    font-size: large;
    display: inline-block;
    max-width: 75px;
    min-width: 20px;
}

.hidden {
    visibility: hidden;
    display: none;
}

.visible {
    visibility: visible;
    display: block;
}

#letter-buttons {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
}
